* {
  background-color: #e9c5ab;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  background-color: #c7bca6;
  color: #5d8a75;
}

#recipe-title,
h2 {
  font-family: "Courier New", Courier, monospace;
  text-decoration: overline underline;
  text-align: center;
}

h2 {
  background-color: #eb9280;
}

a {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

.blurb {
  text-decoration: none;
  font-family: inherit;
  background-color: #9ca789;
}

/* #ingredients {
  background-color: #c7bca6;
} can't use div effectively yet */

.recipe-img {
  height: auto;
  width: 60%;
  display: block;
  margin: auto;
}
