* {
  background-color: #e9c5ab;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  background-color: teal;
}

.recipe-img {
  height: auto;
  width: 60%;
  display: block;
  margin: auto;
}
